# Copia este archivo a local.properties (no se commitea)
sdk.dir=C\:\\Users\\TU_USUARIO\\AppData\\Local\\Android\\Sdk

# Backend API — emulador Android: 10.0.2.2; celular físico: IP LAN de tu PC
API_BASE_URL=http://192.168.0.4:8000

# Auth0
AUTH0_DOMAIN=dev-zbne73xs48twrr2a.us.auth0.com
AUTH0_CLIENT_ID=q9hPzu6loAkYwN0oNi6bakQi3T3t0iA4
AUTH0_AUDIENCE=https://appestable-api